[submodule "external/neon-player"]
	path = external/neon-player
	url = https://github.com/thommakoon/neon-player-custom-GAIT.git
[submodule "external/imu_gait_analysis"]
	path = external/imu_gait_analysis
	url = https://github.com/thommakoon/imu_gait_analysis.git
[submodule "external/OpenEye"]
	path = external/OpenEye
	url = https://github.com/thommakoon/OpenEye.git
[submodule "QuestApp-PracticeTask"]
	path = QuestApp-PracticeTask
	url = https://github.com/thommakoon/QuestApp-PracticeTask.git
[submodule "QuestApp-MainStudy"]
	path = QuestApp-MainStudy
	url = https://github.com/thommakoon/QuestApp-MainStudy.git
